:root {
    --main-background: #1E252B;
    --main-orange: #FF6E30;
    --card-orange-sweet: #FFA537;
    --card-orange-dim: rgba(255, 165, 55, 0.55);
    --text-gray: rgba(255, 255, 255, 0.55);
    --text-white: rgba(255, 255, 255, 0.9);  
    /* Buttons */
    --btn-bg-orange: #FF6E30;
    --btn-radius: 8px;
}