@import "./reset.css";
@import "./_root.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: var(--main-background);
    color: var(--text-white)
}

.title {
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    color: var(--main-white)
}

.description {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: var(--text-gray)
}

.container {
    max-width: 1254px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px
}


// Header
.header {
    padding-top: 26px;
}
.header__inner {
    display: flex;
    align-items: center;
}

.header__brand {
    display: flex;
    margin-right: auto;
    gap: 12px;
    font-weight: 600;
    font-size: 22px;
    img {
        width: 38px;
        height: 38px;
    }
}

.header__nav-list {
    display: flex;
    gap: 38px;
    margin-right: 193px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.header__nav-item {
    position: relative;
    transition: 0.1s;
    &:hover {
        color:rgba(255, 255, 255, 0.73);
        .header__nav-arrow {
            transform: rotate(180deg)
        }
    }
}


.header__nav-arrow {
    margin-top: 10px;
    transition: 0.3s;
}

.header__auth {
    display: flex;
    gap: 41px;
    font-size: 16px;
    line-height: 24px;
}

.header__auth-login {
    font-weight: 500;
    color: rgba(255, 255, 255, 0.78);
}

.header__auth-sign-up {
    font-weight: 500;
    width: 118px;
    height: 48px;
    background-color: var(--btn-bg-orange);
    border-radius: var(--btn-radius);
    color: #FDF5FF;
}

//promo
.promo {
    margin-top: 58px;
}

.promo__inner {
    position: relative;
    display: flex;
}

.promo__info {
    margin-top: 45px;
}

.promo__info-title {
    max-width: 600px;
    width: 100%;
    font-weight: 500;
    font-size: 50px;
    line-height: 140%;
    color: var(--text-white);
    span {
        width: 0px;
        color: var(--main-orange);
        margin-left: -8px;
    }
}

.promo__info-description {
    margin-top: 30px;
    max-width: 487px;
}
.promo__img {
    position: absolute;
    top: 0px;
    right: -100px;
}

.promo__search {
    display: flex;
    align-items: center;
    margin-top: 60px;
    width: 500px;
    height: 64px;
    padding: 8px 11px 8px 18px;
    background-color: #283036;
    border-radius: 15px;
    border: 1.5px solid white;
    border-image-source: linear-gradient(90.89deg, rgba(255, 255, 255, 0.1) -1.67%, rgba(255, 255, 255, 0) 103.73%);
}

.promo__search-img {
    margin-right: 13px;
    width: 24px;
    height: 24px;
}

.promo__search-input {
    width: 191px;
    margin-right: auto;
    font-size: 14px;
    color: var(--main-white);
    &::placeholder {
        color: rgba(255, 255, 255, 0.38);
    }
}

.promo__search-button {
    height: 48px;
    width: 130px;
    background-color: var(--btn-bg-orange);
    border-radius: var(--btn-radius);
    font-weight: 600;
    color: #FFFFFF;
}

.promo__social-networks {
    margin-top: 110px;
    display: flex;
    gap: 8px;
}

.promo__social-networks-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    height: 58px;
    border-radius: 8px;
    background: #1E252B;
}

.popular-tools {
    margin-top: 200px;
}

.popular-tools__title {
    text-align: center;
}

.popular-tools__description {
    margin: 25px auto 0px;
    max-width: 427px;
    text-align: center;
}

.popular-tools__item {
    width: 392px;
    height: 294px;
    padding: 33px;
    border-radius: 15px;
    transition: 0.2s;
    &:hover {
        transform: translateY(-20px);
        background-color:rgba(40, 48, 54, 0.6);
        .popular-tools__item-name {
            color: rgba(255, 255, 255, 0.9);
        }
        .popular-tools__item-status {
            color: #FFA537;
        }
        .popular-tools__item-link {
            background-color: var(--btn-bg-orange);
            color: #FFFFFF;
        }
    }
}

.popular-tools__item-top {
    display: flex;
    gap: 30px
}

.popular-tools__item-controls {
    display: flex;
    justify-content: space-between;
}

.popular-tools__item-actions {
    display: flex;
    gap: 12px;
}

.popular-tools__item-control-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
}

.popular-tools__item-name {
    font-weight: 500;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.78);
}

.popular-tools__item-status {
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 165, 55, 0.55);
}

.popular-tools__item-description {
    max-height: 60px;
    height: 100%;
    margin: 30px 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.55);
}

.popular-tools__item-link {
    padding: 9px 35px;
    border-radius: var(--btn-radius);
    color: rgba(255, 255, 255, 0.55);
}

.popular-tools__content {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.popular-tools__list {
    display: flex;
    justify-content: space-between;
}